@model IEnumerable<_19T1021201.DomainModels.Employee>
@{
    ViewBag.Title = "Quản lý nhân viên";
}

<div class="box box-primary">
    <div class="box-body">

        <form>
            <div class="input-group"> 
                <input type="text" class="form-control" placeholder="Search" value="@ViewBag.SearchValue">
                <div class="input-group-btn">
                    <button class="btn btn-success" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
                <div class="input-group-btn">
                    <a href="~/Employee/Create" class="btn btn-primary" style="margin-left: 5px;">
                        <i class="glyphicon glyphicon-plus"></i>
                        bổ sung
                    </a>
                </div>
            </div>

        </form>


        <p>Có <b>@ViewBag.RowCount</b> nhân viên trong tổng số <b>@ViewBag.PageCount</b> trang</p>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">@item.FirstName @item.LastName</h3>
                            <div class="box-tools pull-right">
                                <a class="btn btn-box-tool" href="~/Employee/Edit/@item.EmployeeID">
                                    <i class="fa fa-edit text-primary"></i>
                                </a>
                                <a class="btn btn-box-tool" href="~/Employee/Delete/@item.EmployeeID">
                                    <i class="fa fa-trash text-danger"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img class="profile-user-img img-responsive img-bordered" src="@item.Photo">
                                </div>
                                <div class="col-sm-8">
                                    <ul class="list-group list-group-unbordered">
                                        <li class="list-group-item">
                                            <label>Họ và tên:</label>@item.FirstName @item.LastName
                                        </li>
                                        <li class="list-group-item">
                                            <label>Ngày sinh:</label> @item.BirthDate
                                        </li>
                                        <li class="list-group-item">
                                            <label>Email:</label> @item.Email
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-justify" style="height:120px; overflow-y:auto">
                                    @item.Notes
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            }
        </div>
        <div class="text-center">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    if (i == ViewBag.Page)
                    {
                        <li class="active"><a href="#">@i</a></li>
                    }
                    else
                    {
                        <li><a href="~/Employee?page=@i&searchvalue=@ViewBag.SearchValue">@i</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>






