@model _19T1021201.DomainModels.Category
@{

}

<div class="box box-primary">
    <div class="box-body">
        <div class="container">
            <form action="~/Category/Save" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.HiddenFor(m => m.CategoryID)
                    <label>Tên loại hàng:</label>
                    @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.CategoryName, "", new { @style = "color:#FF0000" })
                </div>

                <div class="form-group">
                    <label>Mô tả loại hàng:</label>
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary"> <i class="glyphicon glyphicon-floppy-disk"></i> Lưu dữ liệu</button>
                        <a href="~/Category" class="btn btn-warning">Quay lại</a>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

