@model _19T1021201.DomainModels.Customer
@{
    ViewBag.Title = "Xoá nhà khách hàng";
}

<div class="box box-danger">
    <div class="box-body">
        <form class="form-horizontal" action="~/Customer/Delete/@Model.CustomerID" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên nhà cung cấp:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.CustomerName</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên giao dịch:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.ContactName</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Address</p>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2">Quốc gia:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Country</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Thành phố:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.City</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mã bưu chính:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.PostalCode</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @if (_19T1021201.BusinessLayers.CommonDataService.InUsedCustomer(Model.CustomerID))
                    {
                        <button type="submit" class="btn btn-danger"> <i class="glyphicon glyphicon-trash"></i> Đồng ý xoá</button>
                    }
                    else
                    {
                        <p class="form-control-static text text-danger">Không thể xoá loại hàng này</p>
                    }
                    <a href="~/Customer" class="btn btn-warning">Quay lại</a>
                </div>

            </div>
        </form>
    </div>
</div>

